@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

@font-face {
    font-family: 'Monument';
    /* src: url('../public/MonumentExtended-Ultrabold.otf'); */
    src:url('../public/MonumentExtended-Regular.otf');
    font-weight: 300;
    font-style: normal;
    }
    @font-face {
        font-family: 'Outfit';
        /* src: url('../public/MonumentExtended-Ultrabold.otf'); */
        src:url('../public/outfit/Outfit-Bold.otf');
        font-weight: 300;
        font-style: normal;
        }

:root {
    --primary-color: #5bb462;
    --primary-dark: #4f9c55;
    --secondary-color: #ffea00;
    --secondary-dark:#e3d002;
    --overlay: rgba(0,0,0,.7);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    

  }
  
  body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-size: 1.2rem; */
    line-height: 1.2;
    /* background: linear-gradient(124.02deg, #790084 23.94%, #7248F9 82.5%); */
    font-family: 'Outfit', sans-serif;

    

    
  }
  
  code {
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace; */
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .button {
    padding: 17px 28px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;

  }
  
  .button:hover {
    background: var(--primary-dark);
    border: 1px solid var(--primary-dark);
  }
  
  .line {
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--primary-color);
  }
  

  .header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    /* background-color: rgba(0,0,0,.9); */
    background-image: url("../public/navbar.png");
    background-position: center;
  background-size: cover;
  z-index: 3;
  display: flex;
  margin-bottom: 10%;
 
    

}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu a {
    color: #ffffff;
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    /* font-weight: bold; */
}
.nav-item .active{
    padding-bottom: 12px;
    border-bottom: 3px solid #D21AD5;
}
.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid #D21AD5;
}

.hamburger {
    display: none;
    background-color: black;
}


@media screen and (max-width:700px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
        background-color: black;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
    .other h1{
        font-size: 30px;
    }
    
}

.hero {
    /* background-color: var(--overlay); */
    color: #fff;
    height: 100vh;
    width: 100%;
    /* background-image: url("../public/home.svg"); */
    background-position:bottom;
    background-size: cover;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    background-color: yellow;

    
    
}
/* .nft{
    height: 100%;
    width: 50%;
    z-index: 1;
    margin-bottom: 30%;
    margin-right: 0%;
    background-color: red;

}

.other{
    
    width: 50%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight:bold;
    background-color: #4AED52;
  
} */

.nft {
    width: 50%;
    height: 100vh;
    background-color: green;
    text-align: right;
    color: white;
}

.other {
    width: 50%;
    color: green;
    height: 100vh;
    background-color: red;
}


.hero .button {
    margin: 1rem 0;
    width: 200px;
    color: white;
    background: linear-gradient(142.41deg, #BD24E6 -12.51%, #E40FAC 136.14%);
border: 2px solid #4AED52;
border-radius: 6px;
box-shadow: 2px 15px 25px rgba(145, 92, 182, .4);


}

.hero .button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}


@media screen and (max-width:940px) {
   .hero{
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: yellow;
    
  
   }
   .other{
    width: 100%;
    height: 50%;
    width: 100%;
    

   }
   .nft{
    width: 100%;
    height: 50%;
    width: 100%;
    
   }
  

}
.testimonials {
    height: 600px;
    width: 100%;
    background-image: url("../public/about.svg");
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}

.testimonials .container {
    width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.testimonials h2 {
    font-size: 3rem;
    text-align: center;
}

.testimonials .container .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 4rem 0;
}

.testimonials .card {
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0,0,0,.2);
    padding: 1rem;
}

.testimonials img {
    border-radius: 50px;
    margin-top: -2rem;
}


.testimonials .card p {
    color: #787878;
    font-size: 1.1rem;
    margin: 12px;
}

.testimonials .card span {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (max-width: 940px) {
    .testimonials .container {
        width: 100%;
    }

    .testimonials .container .content {
        grid-template-columns: 1fr;
    }

    .testimonials .card {
        max-width: 100%;
        margin: 1rem;
    }
}

.about {
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    
    background-image: url('../public/about.svg');
    background-position: 50%;
    background-color: #03030A;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
   
    

}

.about .container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    
    
}








@media screen and (max-width:940px) {
    .about .container {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }

    .about .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .about .container img {
        padding: 0rem;
        width: 90vw;
    }

    
}

.demo {
    
    height: 900px;
    width: 100%;
    /* background-image: url("../public/demoReal.svg"); */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.demo .col-1 p:nth-child(1) {
    font-size: 1.8rem;
    font-style: italic;
}

.demo .col-1 p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
}

.demo .col-1 p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}


@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo iframe {
        width: 100vw;
        height: 70vw;
    }
}

.about {
    /* background-color: #f8f8f8; */
     margin: 0;
    padding: 0;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
}

.about .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about h2 {
    font-size: 3rem;
}

.about .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.about .col-2 p:first-of-type {
    margin: 2rem 0;
}

.about .col-2 p:nth-child(4) {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
}

.about button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    .about .container {
        grid-template-columns: 1fr;
    }

    .about .container {
        width: 100%;
    }

    .about .container img {
        padding: 0rem;
        width: 90vw;
    }

    .about .container .col-2 {
        padding: 0;
    }

    .about button {
        margin-bottom: 1rem;
    }
}
.canvas{
    height: 500px;
    
}
.flexing{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: left;
}


.navTitle{
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
.navContent{
    display: flex;
    justify-content: center;
    margin-right: 14%;
    font-weight: bold;
    font-family: 'Monument','sans-serif';
    font-size: 14px;


}
.Login{
    display: flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  border-radius: 30px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Monument','sans-serif';

    
}
.loginBTN{
    
    width: 150px;
    
}
.design{
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    border-radius: 30px;
    background-color: red;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
      
}
.other p{
    margin-bottom: 10px;
    font-size: 1.2vw;
}
.other h1{
    font-size: 6.5vw;
    font-weight: bold;
  

}
.other span{
    color: #4AED52;
 
}




.mb-7{
    width: 100%;
    padding: 0;
    margin-top: 0;
}
.wrapper1{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: -10.4%;
    background-color: #4AED52;
}
.banner{
    width: 100%;
    background-color: #03030A;
  
    
}
.man{
    height: 30vw;
    width: auto;
    margin-right:-10% ;
    z-index:1;
    margin-top: 3%;
    

}
.blurBox{
    backdrop-filter: blur(13px);
    border-radius: 10px;
    height: 35vw;
    width: auto;
}
.banner2{
    width: 100%;
    background-color: #03030A;
    

}
.youtube{
    width: 65vw;
    height: 40vw;
    margin-left: 0;
    margin-left: -75%;
   
}
.box{
    width: 70vw;
    height: auto;
    margin-top: 15%;
}










































